.ButtonBar button {
    background: var(--main-bg-colors);
    border-radius: 11px;
    padding: 15px 35px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 15px/1 "Open Sans", sans-serif;
    text-align: center;
    cursor: pointer;
}

.ButtonBar button:hover {
    background: linear-gradient(168deg, #767676, transparent);
}


.ButtonBar {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}