.ButtonBar button {
    background: #2a9d8f;
    border-radius: 11px;
    padding: 15px 35px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 15px/1 "Open Sans", sans-serif;
    text-align: center;
    cursor: pointer;
}

.ButtonBar button:hover {
    background: #a5a58d;

}

.ButtonBar {
    display: flex;
    justify-content: space-evenly;

    margin-bottom: 1em;
}