@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root{
  --main-bg-color : #2E3440;
  --main-txt-color: #ECEFF4;
}

body{
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  font-family: 'Fira Code', monospace;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


.mce-content-body{
  min-height:80vh;
  min-width:60%;
}
