@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
  --main-bg-color: #2E3440;
  --main-txt-color: #ECEFF4;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  font-family: 'Fira Code', monospace;
}


.App-header {
  margin: 1em 1em 4em 1em;
  display: flex;
  justify-content: center;
  color: white;
}


.mce-content-body {
  margin-right: 2em;
  width: 60%;
  padding: 2em;
}